[data-scope="pin-input"][data-part="root"] {
  --bg-surface: #fff;
  --border-default: #e7e5e4;
}

.dark [data-scope="pin-input"][data-part="root"] {
  --bg-surface: #111;
  --border-default: #3e3e3e;
}

[data-scope="pin-input"][data-part="control"] {
  display: flex;
  gap: 8px;
}

[data-scope="pin-input"][data-part="input"] {
  all: unset;
  background: var(--bg-surface);
  color: #0d0d0d;

  border: solid 1px;
  border-color: var(--border-default);
  border-radius: 0.5rem;

  font-size: 1.875rem;
  line-height: 2.375rem;
  height: 64px;
  width: 64px;
  text-align: center;
}

.dark [data-scope="pin-input"][data-part="input"] {
  color: white;
}
