[data-scope="menu"][data-part="positioner"] {
  z-index: 100;
  --border-default: #e7e5e4;
  --fg-emphasized: #404040;
  --bg-subtle: #d9d9d91e;
}

.dark [data-scope="menu"][data-part="positioner"] {
  --border-default: #3e3e3e;
  --fg-emphasized: #c1c1c1;
  --bg-subtle: #3333335e;
}

[data-scope="menu"][data-part="separator"] {
  /* In some browsers, hr has borders on all sides by default, we only want a bottom border */
  border: none;
  border-bottom: solid 1px;
  border-color: var(--border-default);
  margin-block: 4px;
}

[data-scope="menu"][data-part="content"] {
  background: #fafaf9;
  outline: none;
  padding-inline: 6px;
  padding-block: 2px;
  min-width: 15rem;
  border: solid 1px;
  border-color: var(--border-default);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05),
    0px 8px 16px rgba(48, 49, 51, 0.1);
}

.dark [data-scope="menu"][data-part="content"] {
  background: #1b1a1a;
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
}

[data-scope="menu"][data-part="item-group-label"] {
  font-weight: 600;
  padding-inline: 10px;
  padding-block: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

[data-scope="menu"][data-part="item"],
[data-scope="menu"][data-part="trigger-item"] {
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-block: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-inline: 10px;
  padding-block: 8px;
  color: var(--fg-emphasized);
}

[data-scope="menu"][data-part="item"][data-focus],
[data-scope="menu"][data-part="trigger-item"][data-focus] {
  background: var(--bg-subtle);
}

.flex_1 {
  flex: 1;
}

.button {
  all: unset;
  align-items: center;
  appearance: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  outline: none;
  position: relative;
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button_primary {
  color: white;
  background-color: #60a5fa;
}

.button_primary:hover {
  background-color: #3b82f6;
}

.button_primary:focus {
  z-index: 1;
  --shadow: #eff6ff;
  box-shadow: 0 0 0 4px var(--shadow);
}

.dark .button_primary:focus {
  --shadow: #404040;
}

.button_size__md {
  height: 40px;
  min-width: 40px;
  padding-inline: 16px;
  line-height: 1.25rem;
  font-size: 0.875rem;
}
