[data-scope="checkbox"][data-part="root"] {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  --accent-default: #60a5fa;
  /* You don't need this */
  margin-top: 12px;
}

[data-scope="checkbox"][data-part="label"] {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}

[data-scope="checkbox"][data-part="control"] {
  align-items: center;
  background: #fafaf9;
  border-color: #d7d3d0;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
}

.dark [data-scope="checkbox"][data-part="control"] {
  background: #141313;
  border-color: #3e3e3e;
}

[data-scope="checkbox"][data-part="control"][data-focus] {
  --shadow: #ede9fe;
  box-shadow: 0 0 0 4px var(--shadow);
}

.dark [data-scope="checkbox"][data-part="control"][data-focus] {
  --shadow: #292524;
}

[data-scope="checkbox"][data-part="control"][data-hover] {
  border-color: #a9a29d;
}

.dark [data-scope="checkbox"][data-part="control"][data-hover] {
  border-color: #44403c;
}

[data-scope="checkbox"][data-part="control"][data-checked] {
  background-color: var(--accent-default);
  border-color: var(--accent-default);
  color: white;
}

.dark [data-scope="checkbox"][data-part="control"][data-checked] {
  color: black;
}

[data-scope="checkbox"][data-part="control"][data-checked]:hover {
  background-color: var(--accent-default);
}

[data-scope="checkbox"][data-part="control"][data-indeterminate] {
  border-color: var(--accent-default);
  color: var(--accent-default);
}

/* You don't need this, just here to move the child checkboxes to the right */
[data-scope="checkbox"][data-part="root"] ~ div:not([data-scope="checkbox"]) {
  margin-left: 12px;
}
