[data-scope="tabs"][data-part="root"] {
  width: 30rem;
}

[data-scope="tabs"][data-part="tablist"] {
  border-bottom: solid 1px;
  border-color: #e7e5e4;
  display: flex;
  gap: 16px;
  height: 32px;
  position: relative;
}

.dark [data-scope="tabs"][data-part="tablist"] {
  border-bottom: solid 1px;
  border-color: #3e3e3e;
}

[data-scope="tabs"][data-part="trigger"] {
  all: unset;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  padding-inline: 4px;
  color: #737373;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dark [data-scope="tabs"][data-part="trigger"] {
  color: #8c8c8c;
}

[data-scope="tabs"][data-part="trigger"]:hover {
  color: #404040;
}

.dark [data-scope="tabs"][data-part="trigger"]:hover {
  color: #bfbfbf;
}

[data-scope="tabs"][data-part="trigger"][data-selected] {
  color: #60a5fa;
}

.dark [data-scope="tabs"][data-part="trigger"][data-selected] {
  color: #93c5fd;
}

[data-scope="tabs"][data-part="trigger"][data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

[data-scope="tabs"][data-part="indicator"] {
  height: 2px;
  background: #60a5fa;
  bottom: -1px;
}

.dark [data-scope="tabs"][data-part="indicator"] {
  background: #93c5fd;
}

[data-scope="tabs"][data-part="content"] {
  border: solid 1px;
  border-radius: 0.5rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-width: 0px;
  min-height: 10rem;
  padding: 16px;
  color: #595959;
  background: #e7e5e4;
  border-color: #e7e5e4;
}

.dark [data-scope="tabs"][data-part="content"] {
  color: #8c8c8c;
  background: #262626;
  border-color: #3e3e3e;
}
